:root {
    --bgcolor: #FFD166;
    --secondary: white;
    --lightsecondary: black;
    --fonts: black;
    --input: #242424;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bgcolor: #126936;
        --secondary: #2d2d25;
        --lightsecondary: #161612;
        --fonts: #a39ba8;
    }
 }