.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginBox {
    padding: 100px;
    height: auto;
    width: auto;
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1.5px solid black;
    button {
        cursor: pointer;
        margin-top: 10px;
        background-color: white;
        border: 1.5px solid black;
        font-family: 'Nunito', sans-serif;
        font-size: 26px;
        border-radius: 5px;
        height: 40px;
        padding-right: 20px;
        padding-left: 20px;
        &:hover, &:focus {
            background-color: #118ab2;
        }
      }
}

.loginTitle {
    h1 {
        font-size: 50px;
        margin-top: -30px;
    }
}

.loginInput {
    input {
        height: 50px;
        width: 280px;
    }
}

.loginField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
