.saveResult {
    display: flex;
    justify-content: center;
    align-items: center;
}

.saveResultBox {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border: 1.5px solid black;
    width: 40vw;
    height: 400px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    position: absolute;
    top: -410;
    transform: translateY(-400px);
    transition: transform 0.7s ease;
    &.openResultBox {
        transform: translateY(0px);
    }
    button {
        margin-top: 10px;;
        @extend input;
        &:hover {
            background-color: lightgray;
          }
    }
}